<!-- recipes/templates/recipes/recipe_detail.html -->
{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="recipe-detail card bg-light p-4">
    <h2>{{ recipe.title }}</h2>
    <h3>Description</h3>
    <p>{{ recipe.description }}</p>
    <div class="instructions mb-4">
        <h3>Instructions</h3>
        <p>{{ recipe.instructions | safe }}</p>
    </div>
    <div class="ingredients mb-4">
        <h3>Ingredients</h3>
        <ul class="list-group">
            {% for ingredient in recipe.recipeingredient_set.all %}
                <li class="list-group-item">{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="categories mb-4">
        <h3>Category</h3>
        <ul class="list-group">
            {% for category in recipe.categories.all %}
                <li class="list-group-item">{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <p>Status: {{ recipe.get_status_display }}</p>
    {% if user == recipe.user %}
        <a href="{% url 'edit_recipe' recipe.pk %}" class="btn btn-dark">Edit Recipe</a>
        <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-danger">Delete Recipe</a>
    {% endif %}
</div>
{% endblock %}
