{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'create_recipe' as create_recipe_url %}

<!-- base template for all subsequent recipes to inherit from -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Book{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Additional CSS or JS files here -->
</head>
<body>
    <header>
        <h1>Recipe Book</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <!-- Additional navigation links as needed -->
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link {% if request.path == create_recipe_url %}active{% endif %}" aria-current="page" href="{% url 'create_recipe' %}">Create Recipe</a>
                </li>
                <li>
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li>
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Main content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Recipe Book</p>
    </footer>
</body>
</html>